GRANTManager/Templates/TemplateUi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TemplateUi">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MinDeviceHeight" type="xs:unsignedByte" />
        <xs:element name="MinDeviceWidth" type="xs:unsignedByte" />
        <xs:element maxOccurs="unbounded" name="UiElement">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IsGroup">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="ImplementedClassTypeFullName" type="xs:string" />
                    <xs:element name="ImplementedClassTypeDllName" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Renderer" type="xs:string" />
              <xs:element name="Height" type="xs:unsignedByte" />
              <xs:element name="Width" type="xs:string" />
              <xs:element name="TextFromUIElement" type="xs:string" />
              <xs:element name="ImplementedClassTypeFullName" type="xs:string" />
              <xs:element name="ImplementedClassTypeDllName" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>